@import url('https://fonts.googleapis.com/css?family=Spectral:800');
body{
    background-color: #5CBF3A;
}

h1 {
    display: block;
    color: #faf3d3;
    font-family:'Spectral', serif;
    font-size: 6.25vw;
    line-height: 7.5vw;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 8px 8px 0 #44714a;
}

div{
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
  }

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
  }
  
.bias{
    font-family: 'Spectral', serif;
    font-size: 16.5px;
}